ScreenImage {
    pointer-events: none;
    color: white;
    cursor: none;

    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url(ui/black_transparent.png);

    image {
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        image-rendering: pixelated;
    }
}
