ScreenImage {
    color: white;
    cursor: default;
    pointer-events: all;

    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url(ui/black.png);

    align-items: center;
    justify-content: center;

    image {
        position: absolute;
        // width: 100%;
        height: 100%;
        aspect-ratio: 1;
        image-rendering: pixelated;
    }
}
